
    .container {
      padding: 10px;
    }
   
    input {
      height: 60px;
      width: 150px;
      margin: 12px;
      border-width: 1px;
      padding: 10px;
      border-radius: 6px;
    }
  