.navbar {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 40px;
    background-color: rgb(250, 239, 239);
  }
  .navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar li {
    
    list-style-type: none;
    /* background-color: white; */
    padding: 10px;
  }
  .navbar .logo {
    font-weight: bold;
    color: var(--heading-color);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
    
  }
  .navbar .logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 10px;
    margin-top: 2px;
    
  }

    .navbar a {
    color: #333;
    text-decoration: underline;
    margin-right: 20px;
  }
  .navbar img {
    width: 26px;
    padding: 20px;
  }