    .container {
       padding-top: 20px; 
    }

    .instructions {
        padding: 10px;
    }

    .choiceContainer {
        flex: 1;
        flex-direction: row;
        padding-top: 40px;
        justify-content: center;
        align-items: center;
    }

    input {
        height: 60px;
        width: 100px;
        margin: 12px;
        border-width: 1px;
        padding: 20px;
        border-radius: 6px;
      }
